body, html {
	height: 100%;
}

body {
	margin: 0;
}

#control {
	position: absolute;
	width: 100%;
	height: 10%;
	background-color: #f58025;
}
#fileSelector {
	position: absolute;
	top: 12.5%;
	left: 0.5em;
	width: 50%;
	height: 75%;
	font-size: 1.2em;
}

#output {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 10%;

	padding: 2em 14em;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 

	font-family: Helvetica;
}

